{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{{dump(rows)}}
{% for row in rows %}
	{{ kpr(row.attributes) }}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
  <div{{ row.attributes.addClass(row_classes) }}>
    {{ row.content }}
  </div>
{% endfor %}


{% set results = [] %}
{% for row in rows %}
	{% set temp = row.attributes %}
	{% set results = results|merge( [{ temp: row.content }] ) %}
	{{ kint(row) }}
{% endfor %}
{{ dump(results) }}
{{ kint(row.attributes) }}
<button class="btn btn-warning">kajsdkjhasd</button>

{% for r,rc in results %}
	<div class="{{r}}">
    {{ r }}
    {{ rc }}
  </div>
{% endfor %}
<button class="btn btn-warning">kajsdkjhasd</button>